{% extends 'base.html' %}

{% block title %}Stock overview{% endblock %}
{% block header %}Stock overview{% endblock %}

{% block sidebar %}
	{% include 'sidebar.html' with active_item='stock' %}
{% endblock %}

{% block content %}
	<div class="ui-grid-a">
		<div class="ui-block-a" style="padding-right: 10px;">

			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Stock hotspots</li>
				
				<li>
					{% if messages %}
						{% for message in messages %}		
							<div class="error">{{ message }}</div>
						{% endfor %}
					{% endif %}
					
					<ul data-role="listview" data-inset="true" data-filter="true">
				
						{% for ap in aps %}
							<li>
								<div class="ui-grid-c">
									<div class="ui-block-a">
										{{ ap.mac | upper }}
									</div>
									
									<div class="ui-block-b">
										{% if ap.model.upper == 'P2N' %}
											Picostation M2
										{% else %}
											Unifi AP
										{% endif %}
									</div>
									
									<div class="ui-block-c">
										<em>{{ ap.name }}</em>
									</div>
									
									<div class="ui-block-c">
										{% if ap.state %}
											<span class="connected">Connected</span>
										{% else %}
											<span class="disconnected">Disconnected</span>
										{% endif %}
									</div>
								</div>
							</li>
						{% empty %}
							<li>There are no hotspots available.</li>
						{% endfor %}
						
					</ul>
				</li>
			</div>
			
		</div>
			
		<div class="ui-block-b" style="padding-left: 10px; opacity: 0.5;">
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Add hotspot to stock</li>
				
				<li>
					<form action="{% url 'stock:add' %}" method="post" name="add_form">
						{% csrf_token %}
						
						MAC address: <input type="text" name="mac_address" autofocus="true" />
						
						<button data-theme="b" data-icon="plus">Add</button>
					</form>
				</li>
			</div>
		</div>
	</div>
	
{% endblock %}