{% extends 'base.html' %}

{% load staticfiles %}
{% load sekizai_tags %}

{% block stylesheets %}
   <!-- DATATABLES-->
   <link rel="stylesheet" href="{% static 'theme/vendor/datatables-colvis/css/dataTables.colVis.css' %}">
   <link rel="stylesheet" href="{% static 'theme/vendor/datatable-bootstrap/css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block title %}Client overview{% endblock %}
{% block header %}Client overview{% endblock %}

{% block sidebar %}
	{% include 'sidebar.html' with active_item='clients' %}
{% endblock %}

{% block content %}

	{% addtoblock 'js' %}
		<script src="{% static 'theme/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'theme/vendor/datatable-bootstrap/js/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'theme/vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js' %}"></script>
		
		<script src="{% static 'theme/js/datatable.js' %}"></script>
	{% endaddtoblock %}

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<legend>Clients</legend>
					
					<div class="table-responsive">
						<table class="table table-striped datatable">
							<thead>
							  <tr>
								 <th>#</th>
								 <th>Company name</th>
								 <th>Contact person</th>
							  </tr>
							</thead>
							<tbody>
								{% for client in clients %}
									<tr>
										<td>{{ client.pk }}</td>
										<td>
											<a href="{% url 'clients:detail' client.slug %}">
												{{ client.company_name }}
											</a>
										</td>
										<td>{{ client.contact_name }}</td>
									</tr>
								{% empty %}
									<td colspan="3">There are no clients available.</td>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<legend>Add new client</legend>
	                        
					<form role="form" method="post" action="{% url 'clients:add' %}">
						{% csrf_token %}
						
                        <div class="form-group">
							<label>Company name</label>
							<input type="text" name="company_name" placeholder="Café B.V." class="form-control">
						</div>
						
						<div class="form-group">
							<label>Contact person</label>
							<input type="text" name="contact_name" placeholder="J. Janssen" class="form-control">
						</div>
					
						<button type="submit" class="btn btn-labeled btn-info">
                           <span class="btn-label"><i class="fa fa-plus"></i>
                           </span>Add
                        </button>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}