{% extends 'base.html' %}

{% block title %}Client overview{% endblock %}
{% block header %}Client overview{% endblock %}

{% block menu %}
	{% include 'menu.html' with active_item='clients' %}
{% endblock %}

{% block content %}
	<div class="ui-grid-a">
		<div class="ui-block-a" style="padding-right: 10px;">

			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Clients</li>
				
				<li>
					<ul data-role="listview" data-inset="true" data-filter="true">
				
						{% for client in clients %}
							<li>
								<a href="{% url 'clients:detail' client.slug %}" class="ui-grid-a">
									<div class="ui-block-a">{{ client.company_name }}</div>
									<div class="ui-block-b">{{ client.contact_name }}</div>
								</a>
							</li>
						{% empty %}
							<li>There are no clients available.</li>
						{% endfor %}
						
					</ul>
				</li>
			</div>
		</div>
			
		<div class="ui-block-b" style="padding-left: 10px;">
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Add a new client</li>
				
				<li>
					<form action="{% url 'clients:add' %}" method="post" name="add_form">
						{% csrf_token %}
						
						Company: <input type="text" name="company_name" />
						Contact: <input type="text" name="contact_name" />
						
						<button data-theme="b" data-icon="plus">Add</button>
					</form>
				</li>
			</div>
		</div>
	</div>
{% endblock %}