{% extends 'clients/detail.html' %}

{% block tabs %}
	{% include 'clients/tabs.html' with active_item='portal' %}
{% endblock %}

{% block content %}
	<div class="ui-grid-a">
		<div class="ui-block-a" style="padding-right: 10px;">
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Logo</li>
				
				<li>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						
						<input type="file" name="logo" id="logo" />
						<input type="submit" data-role="button" value="Upload logo" />
					</form>
					
					{% if portal.logo %}
						<hr />
						
						<div>
							<img src="http://globalwifiservices.com/media/{{ portal.logo }}" style="height: 100px;" />
						</div>
					{% else %}
						<em>No logo uploaded yet.</em>
					{% endif %}
				</li>
				
				<li data-role="list-divider">Logo margin (pixels)</li>
				
				<li>
					<input type="text" class="setting-field" id="logo_margin" value="{{ portal.logo_margin }}" />
				</li>
				
				<li data-role="list-divider">Header background color</li>
				
				<li>
					<input type="text" class="setting-field" id="background_color" value="{{ portal.background_color|default:"#FFFFFF" }}" />
				</li>
			</div>
			
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Login methods</li>
				
				<li>
				
					<label>
						<input type="checkbox" name="facebook_enabled" {% if portal.facebook_enabled %}checked="true"{% endif %}>Facebook (like)
					</label>
					
					<div id="facebook_page_container" {% if not portal.facebook_enabled %}style="display: none;"{% endif %}>
						<input type="text" class="setting-field" id="facebook_page_id" placeholder="123456789" {% if portal.facebook_enabled %}value="{{ portal.facebook_page_id }}"{% endif %} />
					</div>
					
					<hr />
					
					<label>
						<input type="checkbox" name="checkin_enabled" disabled="true" {% if portal.checkin_enabled %}checked="true"{% endif %}>Facebook (check-in)
					</label>
					
					<hr />
					
					<label>
						<input type="checkbox" name="email_enabled" {% if portal.email_enabled %}checked="true"{% endif %}>Email address
					</label>
					
					<hr />
					
					<label>
						<input type="checkbox" name="password_enabled" {% if portal.password_enabled %}checked="true"{% endif %}>Password
					</label>
						
					<div id="guest_password_container" {% if not portal.password_enabled %}style="display: none;"{% endif %}>
						<input type="text" class="setting-field" id="guest_password" placeholder="Guest password" {% if portal.password_enabled %}value="{{ portal.guest_password }}"{% endif %} />
					</div>
					
					<hr />
					
					<label>
						<input type="checkbox" name="direct_access" {% if portal.direct_access %}checked="true"{% endif %}>Direct
					</label>
					
					<hr />
					
					<label>
						<input type="checkbox" name="network_password_enabled" {% if portal.network_password_enabled %}checked="true"{% endif %}>Network password (WPA)
					</label>
					
					<div id="wpa_password_container" {% if not portal.network_password_enabled %}style="display: none;"{% endif %}>
						<input type="text" class="setting-field" id="wpa_password" placeholder="123456789" {% if portal.network_password_enabled %}value="{{ portal.wpa_password }}"{% endif %} />
						
						<em><small>The password needs to be between 8 and 64 characters.</small></em>
					</div>
				
					<script type="text/javascript">
						$(document).ready(function() {
							
							$('input[type="checkbox"]').change(function() {
								var self = $(this);
								
								$.post('{% url "clients:set_portal_settings" client.slug %}',
										{ setting: $(this).attr('name'), value: $(this).is(':checked') }, function() {
											
											if(self.attr('name') == 'facebook_enabled') {
												
												$('#facebook_page_container').toggle()
												
												$('#facebook_page_id').val('')
												$('#facebook_page_id').focus()
												
											} else if(self.attr('name') == 'password_enabled') {
												
												$('#guest_password_container').toggle()
												
												$('#guest_password').val('')
												$('#guest_password').focus()
												
											} else if(self.attr('name') == 'network_password_enabled') {
												
												$('#wpa_password_container').toggle()
												
												$('#wpa_password').val('')
												$('#wpa_password').focus()
												
											}
											
											if(!((self.attr('name') == 'facebook_enabled' || self.attr('name') == 'password_enabled' || self.attr('name') == 'network_password_enabled') && self.is(':checked'))) {
												
												var url = $('#preview-frame').attr('src');
												$('#preview-frame').attr('src', url);
												
											}
										});
								
							});
							
							var keyTimer;
							$('.setting-field').on('keyup', function() {
								clearTimeout(keyTimer)
								var self = $(this);
								
								keyTimer = setTimeout(function() {
									
									$.post('{% url "clients:set_portal_settings" client.slug %}',
											{ setting: self.attr('id'), value: self.val() }, function() {
												
												$('#preview-frame').attr('src', $('#preview-frame').attr('src'));
												
											});
											
								}, 500);
								
								// Validation
								if($(this).attr('id') == 'wpa_password' && $(this).val().length < 8) {
									$(this).css('color', '#cccccc');
								} else {
									$(this).css('color', 'black');
								}
							});
							
						});
					</script>
				
				</li>
			</div>
			
		</div>
		
		<div class="ui-block-b" style="padding-left: 10px;">
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">Preview</li>
				
				<li>
					<iframe id="preview-frame" src="http://globalwifiservices.com/guest/s/{{ client.unifi_site }}?ap={{ preview_hotspot.mac_address }}&id=A1:B2:C3:D4:E5:F6" frameborder="0" style="width: 100%; height: 500px; border: 1px solid #ccc;"></iframe>
				</li>
			</div>
			
			<a data-role="button" data-theme="b" data-external="true" target="_blank" href="http://globalwifiservices.com/guest/s/{{ client.unifi_site }}?ap={{ preview_hotspot.mac_address }}&id=A1:B2:C3:D4:E5:F6">Open portal preview</a>
		</div>
	</div>
{% endblock %}