<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'jquery.mobile-1.4.5.min.css' %}" />
    
    <script type="text/javascript" src="{% static 'jquery-2.1.3.min.js' %}"></script>
    
    <script type="text/javascript">
	$(document).bind("mobileinit", function () {
	    $.mobile.ajaxEnabled = false;
	});
	</script>
    <script type="text/javascript" src="{% static 'jquery.mobile-1.4.5.min.js' %}"></script>
    
    <style>
	    .error {
		    display: block;
		    
		    box-sizing: border-box;

		    padding-top: 15px;
		    padding-bottom: 15px;
		    padding-left: 15px;
		    
		    margin-bottom: 16px;
		    
		    background-color: #efefef;
		    
		    border-radius: 6px;
		    border: 1px solid rgb(221, 221, 221);
		    
		    font-weight: bold;
	    }
	</style>
    
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
	<div data-role="page" data-url="{{ request.get_full_path }}">
 
        <div data-role="header" data-theme="b">
	        <h1>{% block header %}{% endblock %}</h1>
	        
            {% block menu %}
            	{% include 'menu.html' %}
            {% endblock %}

			{% block tabs %}{% endblock %}
        </div>
 
        <div data-role="content">
            {% block content %}{% endblock %}
        </div>
 
    </div>
</body>
</html>